* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.search {
    text-align: center;
    display: block;
    padding-top: 25px;
}

.search input {
    width: 55%;
    padding: 25px;
    border-radius: 10px;
    border-color: grey;
    text-align: left;
}

.gallery {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 150px);
    margin-top: 30px;
    gap: 18% 10%;
    padding-top: 30px;
    margin-inline: auto;
}

img {
    width: 100%;
}